@charset "utf-8";

/* footer */
#footer{
    width: 100%;
    max-height: 170px;
    background: #141414;
}
#footer .ft-inner{
    max-width: 1300px;
    margin: 0 auto;
    padding: 33px 0 33px;
    position: relative;
}
#footer .ft-link{
    padding-bottom: 23px;
    display: flex;
}
#footer .ft-link li{
    margin: 0 0 0 25px;
    padding: 0 0 0 15px;
    position: relative;
}
#footer .ft-link li:first-child{
    padding: 0;
    margin: 0;
}
#footer .ft-link li:after{
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    left: -3px;
    top: 50%;
    margin-top: -3px;
}
#footer .ft-link li:first-child:after{
    display: none;
}
#footer .ft-link li a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    padding: 0 0 7px;
    font-size: 15px;
    line-height: 19px;
    font-weight: 300;
}
#footer .ft-link li a:hover{
    text-decoration: underline;
}
#footer .ft-link li:first-child a{
    color: #ffa975;
}

#footer p{
    position: absolute;
    top: 29px;
    left: 39%;
}
#footer .ft-sns{
    position: absolute;
    right: 260px;
    top: 27px;
}
#footer .ft-sns li{
    margin-left: 7px;
}
#footer .ft-sns li:first-child{
    margin-left: 0;
}
#footer .ft-sns li a{
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999999px;
}
#footer .ft-sns li.yt a{
    background: url(../images/footer/ft-yt.png) no-repeat center center;
}
#footer .ft-sns li.fb a{
    background: url(../images/footer/ft-fb.png) no-repeat center center;
}
#footer .ft-sns li.in a{
    background: url(../images/footer/ft-in.png) no-repeat center center;
}
#footer .ft-sns li.nb a{
    background: url(../images/footer/ft-nb.png) no-repeat center center;
}
#footer .ft-sns li.np a{
    background: url(../images/footer/ft-np.png) no-repeat center center;
}
#footer .ft-sns li.tw a{
    background: url(../images/footer/ft-tw.png) no-repeat center center;
}
#footer .ft-sns li.kt a{
    background: url(../images/footer/ft-kt.png) no-repeat center center;
}
#footer .relate_site{
    position: absolute;
    right: 0;
    top: 27px;
    z-index: 20;
    width: 237px;
}
#footer .relate_site.faily_site{ right: 250px;}
#footer .relate_site a{
    display: block;
    width: 237px;
    text-decoration: none;
    padding: 0 7%;
    font-size: 14px;
    height: 35px;
    position: relative;
    border: 1px solid #7b7b7b;
    line-height: 33px;
    color: rgba(164, 164, 164, 0.6);
}
#footer .relate_site a::after{
    content: "";
    display: block;
    position: absolute;
    right: 7%;
    top: 50%;
    margin-top: -5px;
    width: 16.2px;
    height: 9.9px;
    background: url(../images/footer/ft-relate-site-arrow.png) no-repeat center 50%/contain;
    transform: rotate(-180deg);
    transition: all 0.3s ease;
}
#footer .relate_site a.on::after{
    transform: rotate(0);
}
#footer .relate_site ul{
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #6e6e6e;
    border-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 35px;
    z-index: 200;
    background: #6e6e6e;
    width: 237px;
    display: none;
    max-height: 210px;
    overflow:auto;
}
#footer .relate_site ul li{
    display: block;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
    float: none;
    width: auto;
}
#footer .relate_site ul li a{
    width: auto;
    border: 0;
    padding: 8px 7%;
    height: auto;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
}
#footer .relate_site a .hidden{
    text-indent: -999999px;
    display: block;
}
#footer .relate_site ul li a::after{ display: none;}
#footer .relate_site ul li a:hover,#footer .relate_site ul li a:active{ background: #141414;}
#footer .ft-info{
    padding-top: 21px;
    color: #7b7b7b;
    font-size: 13px;
    line-height: 21px;
    border-top: 1px solid rgba(255, 255, 255, 0.22);
}
#footer .ft-info span{
    display: inline-block;
    margin-left: 30px;
    color: #7b7b7b;
}
#footer .ft-info span a{
    text-decoration: none;
    color: #7b7b7b;
}
#footer .ft-info span:first-child{
    margin-left: 0;
}
#footer .certifi-mark{
    position: absolute;
    right: 0;
    bottom: 24px;
}
#footer .certifi-mark img{
    margin-left: 10px;
}
#footer .certifi-mark img:first-child{
    margin-left: 0;
    opacity: 0.4;
    margin-top: 3px;
}


/* top button */
#go-to-top{
	position: fixed;
	bottom: 3em;
	right: 3em;
	background-color: rgba(255, 255, 255, .9);
	color: #222;
	border: none;
	border-radius: 5px;
	padding: 1em;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
	display: inline-block;
	font-size: 0.75em;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	opacity: 0;
}
#go-to-top.visible{
	opacity: 1;
}
#go-to-top:hover{
	background-color: rgba(255, 255, 255, 1);
	padding: 1em 3em;
    color: #3d66c4
}